{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        {% render_bundle 'main' 'css' %}

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ page_info.seo_title }}</title>
    </head>
    <body>
        {% include './components/header.html' %}
        <main>
            {% block page %}
            {% endblock %}
        </main>
        {% include './components/footer.html' %}
        {% render_bundle 'main' 'js' %}
    </body>
</html>
