{% extends 'aistsiteapp/base.html' %}

{% block page %}
    <section class="hero">
        <div class="hero__top hero__top--bg hero__top--contacts">
            <div class="container">
                <div class="hero__row">
                    <div class="hero__text hero__text--contacts">
                        <h1 class="hero__title hero__title--homepage">Открыты для общения</h1>
                        <p class="hero__subtitle">Работаем с 10 до 22 по Москве</p>
                        <p><a class="hero__phone" href="tel:89177060609">8 (917) 706-06-09</a></p>
                        <p><a class="hero__email" href="mailto:m.aist@yandex.ru">m.aist@yandex.ru</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--secondary">
        <div class="container">
            <div class="section__row">
                <div class="section__col">
                    <div class="section__about-text">
                        Если у вас возникли проблемы с оформлением заказа, вы не нашли подходящий способ
                        оплаты, или у вас появились вопросы, напишите нам.
                    </div>
                </div>
                <div class="section__col">
                    <form data-component="ContactForm">
                        <div class="field-group">
                            <label class="input">
                                <span class="input__label">Эл. почта</span>
                                <input
                                    type="email"
                                    class="input__field"
                                    placeholder="yourmail@pochta.ru"
                                    required
                                />
                            </label>
                        </div>
                        <div class="field-group">
                            <label class="input">
                                <span class="input__label">Сообщение</span>
                                <textarea
                                    class="input__field"
                                    placeholder="Здравствуйте, хочу узнать..."
                                    required
                                    rows="5"
                                ></textarea>
                            </label>
                        </div>
                        <button type="button" class="button button--large">отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
