{% extends 'aistsiteapp/base.html' %}

{% block page %}
    <section class="section">
        <div class="container">
            <div class="cards">
                {% for item in events %}
                    <div class="cards__col">
                        <div class="card card--reverse">
                            <a href="{{ item.url }}"></a>
                            <div class="card__body">
                                <div class="card__header">1 урок: 1,5 часа</div>
                                <div class="card__title">{{ item.name }}</div>
                                <div class="card__text">
                                    {{ item.text }}
                                </div>
                                <button type="button" class="button button--secondary button--arrow"></button>
                            </div>
                            <div class="card__image card__image--full-width">
                                <img src="http://babeholder.pixoil.com/img/636/358" alt="" />
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
