{% extends 'aistsiteapp/base.html' %}

{% block page %}
    <section class="course-hero">
        <div class="container">
            <div class="course-hero__row">
                <div class="course-hero__text">
                    <h1 class="course-hero__title">{{ event.name }}</h1>
                    {% autoescape off %}
                        <div class="course-hero__subtitle">{{ event.text }}</div>
                    {% endautoescape %}
                </div>
                {% if event.images %}
                    <div class="course-hero__image">
                        <img src="{{ event.images.url }}" alt="" />
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <div class="course-page">
        <aside class="course-page__sidebar">
            <div class="sidebar">
                <ul class="sidebar__list">
                    <li class="sidebar__item"><a href="#" class="sidebar__link active">Об авторе</a></li>
                    <li class="sidebar__item"><a href="#" class="sidebar__link">Результаты участниц</a></li>
                    <li class="sidebar__item"><a href="#" class="sidebar__link">О курсе</a></li>
                </ul>
                <div class="sidebar__actions">
                    <a href="#" class="button button--arrow button--full-width">купить курс</a>
                </div>
            </div>
        </aside>
        <div class="course-page__main">
            <section class="course-page__section">
                <div class="course-page__row">
                    <div class="course-page__col course-page__col--image">
                        <img src="https://placehold.it/324x432" alt="" />
                    </div>
                    <div class="course-page__col course-page__col--text">
                        <h2 class="display display--h2">Меня зовут Марина Аист</h2>
                        <div class="course-page__text">
                            Я акушер с 10-летним стажем, перинатальный психолог, сертифицированный консультант
                            по грудном вскармливанию.
                        </div>
                        <div class="course-page__benefits" data-component="1Carousel" hidden>
                            <div class="course-page__benefit">
                                <h2 class="benefits__title">10 лет</h2>
                                <div class="benefits__text">
                                    стаж работы акушером и перинатальным психологом
                                </div>
                            </div>
                            <div class="course-page__benefit">
                                <h2 class="benefits__title">3097 родов</h2>
                                <div class="benefits__text">приняла за время работы в роддоме</div>
                            </div>
                            <div class="course-page__benefit">
                                <h2 class="benefits__title">17 лет</h2>
                                <div class="benefits__text">
                                    работаю над методикой подготовки к родам, веду курсы и мастер-классы
                                </div>
                            </div>
                            <div class="course-page__benefit">
                                <h2 class="benefits__title">6730</h2>
                                <div class="benefits__text">женщин родили по моей методике</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
