{% extends 'aistsiteapp/base.html' %}

{% block page %}
    {% if page.slug == 'contacts' %}
        <div class="contacts">
            <section class="contacts__hero">
                <div class="container">
                    <div class="contacts__hero-row">
                        <div class="contacts__hero-text">
                            <h1 class="display display--h1 display--secondary contacts__title">Открыты для общения</h1>
                            <p class="contacts__hero-subtitle">Работаем с 10 до 22 по Москве</p>
                            <p><a class="contacts__hero-phone" href="tel:89177060609">8 (917) 706-06-09</a></p>
                            <p><a class="contacts__hero-email" href="mailto:m.aist@yandex.ru">m.aist@yandex.ru</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contacts__section">
                <div class="container">
                    <div class="contacts__row">
                        <div class="contacts__col">
                            <div class="contacts__text">
                                Если у вас возникли проблемы с оформлением заказа, вы не нашли подходящий способ
                                оплаты, или у вас появились вопросы, напишите нам.
                            </div>
                        </div>
                        <div class="contacts__col contacts__col--form">
                            {% include './components/contact-form.html' %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% elif page.slug == "about" %}
        {% for block in blocks %}
            <section class="section">
                <div class="container">
                    <div class="display display--h3 section__title">{{ block.name }}</div>
                    <div class="section__block section__text">
                        {{ block.text }}
                    </div>
                </div>
            </section>
        {% endfor %}
    {% elif page.slug == "payment" %}
        {% for block in blocks %}
            <section class="section">
                <div class="container">
                    <div class="text-page">
                        <div class="text-page__header">
                            <div class="display display--h3 section__title hero__title">{{ block.name|safe }}</div>
                        </div>
                        <div class="text-page__content">
                            <div class="text__content section__block">
                                <form action="https://aist.e-autopay.com/buy/save_order_data.php" method="post" data-component="Payment">
                                    <script charset="UTF-8" type="text/javascript" src="https://aist.e-autopay.com/js/orderform_39487/418370/buy"></script>
                                </form>                                        
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% else %}
        {% for block in blocks %}
            <section class="section">
                <div class="container">
                    <div class="text-page">
                        <div class="text-page__header">
                            <div class="display display--h3 section__title hero__title">{{ block.name|safe }}</div>
                        </div>
                        <div class="text-page__content">
                            <div class="text__content section__block">
                                {{ block.text|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% endif %}
{% endblock %}