{% extends 'aistsiteapp/base.html' %}

{% block page %}
    <section class="course-hero">
        <div class="course-hero__inner">
            <div class="container">
                <div class="course-hero__row">
                    <div class="course-hero__text">
                        <h1 class="course-hero__title">{{ page.seo_title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if page.type == "heroText" %}
        <section class="course-hero">
            <div class="course-hero__inner">
                <div class="container">
                    <div class="course-hero__row">
                        <div class="course-hero__text">
                            <h1 class="course-hero__title">{{ page.seo_title }}</h1>
                        </div>
                        <div class="course-hero__text">
                            {{ page.seo_title }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% for block in blocks %}
        <section class="section">
            <div class="container">
                <div class="section__title">{{ block.name }}</div>
                <div class="section__block section__text">
                    {{ block.text }}
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}
