{% extends 'aistsiteapp/base.html' %}

{% block page %}
    <div class="events-page">
        <div class="container">
            <section class="events-page__hero">
                <div class="container">
                    <div class="events-page__hero-row">
                        <div class="events-page__hero-text hero-text--center">
                            <h1 class="events-page__title">Видеокурсы</h1>
                        </div>
                    </div>
                </div>
            </section>
            <section class="events-page__first">
                <div class="card card--invert">
                    <a class="card__fullLink" href="{{ videocourses.0.slug }}"></a>
                    <div class="card__body">
                        {% if videocourses.0.lessons_number and videocourses.0.duration_number %}
                            <div class="card__header card__header--large">{{ videocourses.0.lessons_number }} урок(а): {{ videocourses.0.duration_number }} часа(ов)</div>
                        {% endif %}
                        <div class="card__title card__title--large">
                            {{ videocourses.0.name }}
                        </div>
                        <div class="card__text">
                            {% autoescape off %} {{ videocourses.0.text }} {% endautoescape %}
                        </div>
                        <div class="card__actions">
                            <button class="button button--secondary button--arrow button--empty"></button>
                        </div>
                    </div>
                    <div 
                        class="card__image card__image--hero"
                        style="background-image: url('{{ videocourses.0.images.url }}')"
                    >
                    </div>
                </div>
            </section>
        </div>
        <section class="events-page__section">
            <div class="container">
                <div class="cards">
                    {% for item in videocourses %}
                        {% if forloop.counter != 1 %}
                            <div class="cards__col">
                                <div class="card card--reverse">
                                    <a class="card__fullLink" href="{{ item.slug }}"></a>
                                    <div class="card__body">
                                        {% if item.lessons_number and item.duration_number %}
                                            <div class="card__header">{{ item.lessons_number }} урок(а): {{ item.duration_number }} часа(ов)</div>
                                        {% endif %}
                                        <div class="card__title">{{ item.name }}</div>
                                        {% autoescape off %}
                                        <div class="card__text">{{ item.text }}</div>
                                        {% endautoescape %}
                                        <div class="card__actions">
                                            <button type="button" class="button button--primary button--arrow button--empty"></button>
                                        </div>
                                    </div>
                                    {% if item.images %}
                                        <div class="card__image card__image--full-width card__image--fixed" style="background-image: url('{{ item.images.url }}')">
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    {% include './components/events.html' %}
    {% include './components/subscribe.html' %}
{% endblock %}
