{% extends 'aistsiteapp/base.html' %}

{% block page %}
    <section class="course-hero">
        <div class="container">
            <div class="course-hero__row">
                <div class="course-hero__text course-hero__text--tiny">
                    <h1 class="course-hero__title">{{ videocourse.name }}</h1>
                    {% autoescape off %}
                        <div class="course-hero__subtitle">{{ videocourse.text }}</div>
                    {% endautoescape %}
                </div>
                {% if videocourse.images %}
                    <div class="course-hero__image">
                        <img src="{{ videocourse.images.url }}" alt="" />
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <div class="course-page">
        <aside class="course-page__sidebar">
            <div class="sidebar">
                <ul class="sidebar__list">
                    <li class="sidebar__item">
                        <a href="#author" class="sidebar__link active">Об авторе</a>
                    </li>
                    {% if videocourse.students_results %}
                        <li class="sidebar__item">
                            <a href="#result" class="sidebar__link">Результаты</a>
                        </li>
                    {% endif %}
                    {% if videocourse.reviews %}
                        <li class="sidebar__item">
                            <a href="#feedbacks" class="sidebar__link">Отзывы</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="sidebar__actions">
                    <a href="#" class="button button--arrow button--full-width">купить курс</a>
                </div>
            </div>
        </aside>
        <div class="course-page__main">
            <section id="author" class="course-page__section">
                <div class="course-page__row">
                    <div class="course-page__col course-page__col--image">
                        <img src="https://placehold.it/324x432" alt="" />
                    </div>
                    <div class="course-page__col course-page__col--text">
                        <h2 class="display display--primary display--h2 course-page__section-title">Меня зовут Марина Аист</h2>
                        <div class="course-page__text">
                            Я акушер с 10-летним стажем, перинатальный психолог, сертифицированный консультант
                            по грудном вскармливанию.
                        </div>
                        <div class="course-page__benefits" data-component="1Carousel" hidden>
                            <div class="course-page__benefit">
                                <h2 class="benefits__title">10 лет</h2>
                                <div class="benefits__text">
                                    стаж работы акушером и перинатальным психологом
                                </div>
                            </div>
                            <div class="course-page__benefit">
                                <h2 class="benefits__title">3097 родов</h2>
                                <div class="benefits__text">приняла за время работы в роддоме</div>
                            </div>
                            <div class="course-page__benefit">
                                <h2 class="benefits__title">17 лет</h2>
                                <div class="benefits__text">
                                    работаю над методикой подготовки к родам, веду курсы и мастер-классы
                                </div>
                            </div>
                            <div class="course-page__benefit">
                                <h2 class="benefits__title">6730</h2>
                                <div class="benefits__text">женщин родили по моей методике</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% if videocourse.students_results %}
                <section id="result" class="course-page__section">
                    <h2 class="display display--primary display--h2 course-page__section-title">Результаты участниц</h2>
                    <div class="course-page__columns rte">
                        {{ videocourse.students_results|safe }}
                    </div>
                </section>
            {% endif %}
            {% if videocourse.about_course %}
                <section class="course-page__section course-page__section--primary">
                    <h2 class="display display--h2 display--secondary course-page__section-title">О курсе</h2>
                    <div class="course-page__columns">
                        {{ videocourse.about_course|safe }}
                    </div>
                </section>
            {% endif %}
            {% if videocourse.lessons %}
                <section id="lessons" class="course-page__section" >
                    <h2 class="display display--primary display--h2 course-page__section-title">Программа обучения</h2>
                    {% for item in videocourse.lessons %}
                        <div class="accordion" data-component="Tabs" active>
                            <div class="accordion__trigger" data-handle="trigger">
                                <div class="accordion__subtitle">Урок {{ forloop.counter }}</div>
                                <div class="accordion__header">
                                    <h3 class="display display--h3 accordion__title">
                                        {{ item.title }}
                                    </h3>
                                </div>
                            </div>
                            <div class="accordion__content rte" data-handle="content">
                                {{ item.text|safe }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="course-page__actions course-page__actions--center">
                        <a href="#" class="button button--arrow button--middle">купить курс</a>
                    </div>
                </section>
            {% endif %}
            {% if videocourse.reviews %}
                <section id="feedbacks">
                    {% for item in videocourse.reviews %}
                        <div class="feedback">
                            <div class="feedback__col">
                                <img class="feedback__image" src="{{ item.image }}" alt="" />
                            </div>
                            <div class="feedback__col">
                                <div class="feedback__header">
                                    <h4 class="display display--h4 display--primary">{{ item.title }}</h4>
                                </div>
                                <div class="feedback__text rte">
                                    {{ item.text|safe }}
                                </div>
                                <div class="feedback__author">{{ item.autor }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            {% endif %}
            <section class="course-page__section">
                <div class="course-page__promotext">
                    {{ videocourse.second_text|safe}}
                </div>
            </section>
        </div>
    </div>
    {% if videocourse.variants %}
        <section id="courses" class="section">
            <div class="container">
                <div class="section__header">
                    <h2 class="display display--h3 section__title section__title--center">Варианты курса</h2>
                </div>
                {% include './components/courses.html' %}
            </div>
        </section>
    {% endif %}
    <section class="course-page__section">
        <div class="display display--h4 videocourses__title">Другие видеокурсы</div>
        <div class="videocourses__row {% if other_courses|length < 3 %} videocourses__row--center {% endif %}">
            {% for item in other_courses %}
                <div class="videocourses__col">
                    <div class="card">
                        <a class="card__fullLink" href="{{ item.slug }}"></a>
                        <div class="card__body">
                            <div class="card__header">{{ item.duration }}</div>
                            <div class="display display--h4 card__title">{{ item.name }}</div>
                            <div class="card__text">
                                {{ item.text|safe }}
                            </div>
                        </div>
                        {% if item.images %}
                            <div class="card__image card__image--full-width">
                                <img src="{{ item.images.url }}" alt="" />
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="videocourses__actions">
            <a href="/video-courses/" class="button button--arrow button--standart button--adaptive button--large">все видеокурсы</a>
        </div>
    </section>
    {% include './components/subscribe.html' %}
{% endblock %}
