@block contacts {
    @element hero {
        padding: 56px 0;

        @media (--viewport-desktop) {
            padding-top: 152px;
            padding-bottom: 112px;
            background: no-repeat url('~svgIcons/contacts.svg') 100% 100% / 55%;
        }
    }

    @element title {
        line-height: 1.2;
        font-family: var(--font-serif);
        text-align: center;
        color: var(--color-secondary);
        font-size: 40px;
        margin-bottom: 32px;

        @media (--viewport-wide) {
            font-size: 96px;
        }
    }

    @element hero-text {
        text-align: center;
        font-size: 20px;

        & p:not(:last-child) {
            margin-bottom: 24px;
        }

        @media (--viewport-desktop) {
            max-width: 50%;
        }
    }

    @element hero-phone {
        font-size: 24px;
        line-height: 28px;
        color: var(--color-white);
        text-decoration: none;
        margin-bottom: 24px;
    }

    @element hero-email {
        text-decoration: none;
        color: var(--color-secondary);
    }

    @element section {
        background: var(--color-secondary);
        padding: 80px 0;
    }

    @element row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -16px;
    }

    @element col {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 16px;

        @media (--viewport-desktop) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @element text {
        color: var(--color-font);
        line-height: 1.6;
        margin-bottom: 32px;

        @media (--viewport-desktop) {
            font-size: 20px;
            max-width: 323px;
            margin: 0 auto;
        }
    }
}
