@block course-page {
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid var(--color-secondary);
    border-bottom: 2px solid var(--color-secondary);

    @element sidebar {
        background: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 100%;
        max-width: 100%;

        @media (--viewport-desktop) {
            flex: 0 0 30%;
            max-width: 30%;
            border-right: 2px solid var(--color-secondary);
        }
    }

    @element main {
        flex: 1;
    }

    @element section {
        color: var(--color-font);
        background: var(--color-white);
        width: 100%;
        padding: 80px 16px;

        &:not(:first-child) {
            border-top: 2px solid var(--color-secondary);
        }

        @media (--viewport-desktop) {
            padding: 80px 110px;
        }

        @modifier primary {
            color: var(--color-white);
            background: var(--color-primary);
        }
    }

    @element text {
        line-height: 32px;

        @media (--viewport-wide) {
            font-size: 20px;
        }
    }

    @element row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -27px;
    }

    @element col {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 24px;
        padding: 0 27px;

        @media (--viewport-ipad) {
            margin: 0;
            flex: 0 0 50%;
            max-width: 50%;
        }

        @modifier image {
            margin-bottom: 32px;

            & img {
                width: 100%;
            }

            @media (--viweport-ipad) {
                margin-bottom: 0;
                flex: 0 0 40%;
                max-width: 40%;
            }
        }

        @modifier text {
            @media (--viweport-ipad) {
                flex: 0 0 60%;
            }
        }
    }

    @element benefits {
        /*display: flex;*/
        overflow-x: auto;
        margin-top: 64px;
    }

    @element benefit {
        flex: 1;
        padding: 0 27px;
    }

    @element promotext {
        max-width: 540px;
        margin: 0 auto;

        @media (--viewport-ipad) {
            font-size: var(--font-size-large);
        }
    }

    @element actions {
        margin-top: 64px;
        text-align: center;
    }
}
