@block course-page {
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid var(--color-secondary);
    border-bottom: 2px solid var(--color-secondary);

    @modifier no-border {
        border-bottom: none;
    }

    @element sidebar {
        background: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 100%;
        max-width: 100%;

        @media (--viewport-desktop) {
            flex: 0 0 31.5%;
            max-width: 31.5%;
            border-right: 2px solid var(--color-secondary);
        }
    }

    @element main {
        flex: 1;
    }

    @element section {
        color: var(--color-font);
        background: var(--color-white);
        width: 100%;
        padding: 80px 16px 100px;

        &:not(:first-child) {
            border-top: 2px solid var(--color-secondary);
        }

        @modifier primary {
            color: var(--color-white);
            background: var(--color-primary);
        }

        @modifier more-space {
            padding: 80px 100px 60px 127px
        }

        @media (--viewport-desktop) {
            padding: 80px 110px 60px 110px;
        }
    }

    @element section-about {
        display: flex;
        flex-wrap: wrap;

        @media (--viewport-desktop) {
            flex-wrap: nowrap;
        }


        & p:first-child {
            flex: 0 0 100%;
            margin-bottom: 24px;

            @media (--viewport-desktop) {
                flex: 0 1 378px;
                margin-right: 54px;
                margin-bottom: 0;
            }
        }

        & p:last-child {
            flex: 0 0 100%;

            @media (--viewport-desktop) {
                flex: 0 1 378px;
            }
        }
    }

    @element section-title {
        margin-bottom: 24px;

        @media (--viewport-desktop) {
            margin-bottom: 40px;
        }
    }

    @element text {
        line-height: 32px;

        @media (--viewport-wide) {
            font-size: 20px;
        }
    }

    @element columns {
        display: flex;
        flex-wrap: wrap;
        padding-left: 30px;

        @media (--viewport-desktop) {
            flex-wrap: nowrap;
            padding-left: 0;
        }

        & ul {
            flex: 0 0 100%;
            
            @media (--viewport-desktop) {
                flex: 0 1 377px;
                margin-right: 70px;
                margin-left: 0;
            }
        }

        & p {
            flex: 0 0 100%;
            margin-top: 24px;
            margin-left: -30px;

            @media (--viewport-desktop) {
                flex: 0 1 377px;
                margin-top: 0;
            }
        }
    }

    @element row {
        display: flex;
        flex-wrap: wrap;
        margin: 0;

        @media (--viewport-desktop) {
            margin: 0 -27px;
        }
    }

    @element col {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 24px;

        @media (--viewport-ipad) {
            margin: 0;
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 27px;
        }

        @modifier image {
            margin-bottom: 32px;

            & img {
                width: 100%;
            }

            @media (--viweport-ipad) {
                margin-bottom: 0;
                flex: 0 0 40%;
                max-width: 40%;
            }
        }

        @modifier text {
            @media (--viweport-ipad) {
                flex: 0 0 60%;
                max-width: 60%;
            }
        }
    }

    @element benefits-container {
        position: relative;
    }

    @element benefits {
        overflow: auto;
        display: flex;
        margin: 40px 0 0 0;

        @media (--viewport-widee) {
            margin: 64px -15px 0;
            flex-wrap: wrap;
        }
    }

    @element carousel {
        position: absolute;
        bottom: -80px;
        right: 0;
        z-index: 11;

        @media (--viewport-desktop) {
            bottom: -50px;
        }

        @media (--viewport-widee) {
            display: none;
        }
    }

    @element benefit {
        flex: 0 0 270px;

        @media (--viewport-widee) {
            flex: 0 0 40%;
            margin: 0 0 40px 0;
            padding: 0 15px;
        }
    }

    @element promotext {
        max-width: 540px;
        margin: 0 auto;
        
        & span, & p {
            font-family: var(--font-serif) !important;
<<<<<<< Updated upstream
            line-height: 40px !important;
=======
            line-height: 40px;
>>>>>>> Stashed changes
        }

        @media (--viewport-ipad) {
            font-size: 24px;
        }
    }

    @element actions {
        margin-top: 64px;
        text-align: center;
    }
}
