<form data-component="ContactForm">
    <div class="field-group">
        <label class="input">
            <span class="input__label">Эл. почта</span>
            <input
                type="email"
                class="input__field"
                placeholder="yourmail@pochta.ru"
                required
            />
        </label>
    </div>
    <div class="field-group">
        <label class="input">
            <span class="input__label">Сообщение</span>
            <textarea
                class="input__field"
                placeholder="Здравствуйте, хочу узнать..."
                required
                rows="5"
            ></textarea>
        </label>
    </div>
    <button type="submit" class="button button--large button--adaptive">отправить</button>
</form>
