<section class="section section--bg section--bt">
    <div class="container">
        <div class="section__row">
            <div class="section__col section__col--align-right">
                <div class="section__title">Семинар «Готовимся к родам — рожаем хорошо»</div>
                <div class="section__block">
                    Большой практический семинар построен с учетом запросов будущих мам и акушерской практики.
                    Понятным, простым языком о сложном процессе родов с примерами и практикой.
                </div>
                {% for item in event_block %}
                    <div class="section__block">
                        <a href="{{ item.url }}" class="button button--full-width">{{ item.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
