{% if events_main %}
    <section class="section section--white section--bg section--bt">
        <div class="container">
            <div class="section__row">
                <div class="section__col section__col--align-right">
                    <div class="display display--h3 section__title">Семинар «Готовимся к родам — рожаем хорошо»</div>
                    <div class="section__block section__block--text">
                        Большой практический семинар построен с учетом запросов будущих мам и акушерской практики.
                        Понятным, простым языком о сложном процессе родов с примерами и практикой.
                    </div>
                    {% for item in events_main %}
                      {% if events_main.0.places %}
                          {% for place in events_main.0.places %}
                          <div class="section__block">
                              <a href="/events/{{ item.slug }}" class="button button--full-width button--extra-large">
                                    {{ place.start_date.date|date:"F j" }}, &nbsp;
                                    <span class="hero__city">{{ place.city }}</span>
                              </a>
                          </div>
                          {% endfor %}
                      {% endif %}
                    {% endfor %}
                </div>
            </div>
    </section>
{% endif %}
