<footer class="footer">
    <div class="container container--fluid">
        <div class="footer__row">
            <div class="footer__menubar">
                <div class="footer__menus">
                    {% for item in footer_menu.items %}
                    <div class="footer__menu menu">
                        <div class="menu__title">{{ item.title }}</div>
                        {% if item.childrens %}
                        <ul class="menu__list">
                            {% for child in item.childrens %}
                            <li class="menu__item">
                                <a href="{% if child.slug %}{{ item.link_url }}{{child.slug}}{% else %}{% firstof child.url child.link_url %}{% endif %}"
                                class="link">{% firstof child.title child.name %}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% if item.title == "События" %}
                            <div class="menu__item--space">
                                <a class="menu__title" href="/about">Об авторе</a>
                            </div>
                            <div class="menu__item--space">
                                <a class="menu__title" href="/contacts">Контакты</a>
                            </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="footer__info">
              {% if footer_info %}
                <div class="footer__logo">{{ footer_info.name }}</div>
                <div class="footer__copyright footer__translucent">© {% now "Y" %}, horoshierodi.ru</div>
                <div class="footer__translucent">
                    {{ footer_info.text|safe }}
                </div>
              {% else %}
                <div class="footer__logo">Марина Аист</div>
                <div class="footer__copyright footer__translucent">© 2019, horoshierodi.ru</div>
                <div class="footer__translucent">
                    <div class="footer__item">
                        ИП Чемекова Екатерина Алексеевна
                    </div>
                    <div class="footer__item">
                        ОГРНИП 312121526200023
                    </div>
                    <div class="footer__item">
                        ИНН/КПП 120302030543
                    </div>
                </div>
              {% endif %}
                <ul class="list">
                    <li class="list__item">
                        <a href="/media/docs/oferta.txt" class="link link--secondary">Договор Оферты</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="link link--secondary">Политика конфиденциальности</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="link link--secondary">Отказ от услуги</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="link link--secondary">Партнерская программа</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="link link--secondary">Техническая поддержка</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
