<header class="header" data-component="MobileMenu,AddClassOnScroll">
    <div class="header__fixed">
        <div class="container header__inner">
            <a href="/" class="header__logo">Марина Аист</a>
            <button type="button" class="header__button" data-trigger="menu"></button>
            <nav class="header__nav" data-content="menu">
                <ul class="navbar">
                    {% for item in main_menu.items %}
                    <li
                        class="navbar__item{% if item.childrens %} navbar__item--dropdown dropdown{% endif %}{% if item.current %} active{% endif %}"
                    >
                        <a href="{{ item.link_url }}" class="navbar__link">{{ item.title }}</a>
                        {% if item.childrens %}
                        <div class="dropdown__menu">
                            {% for child in item.childrens %}
                            <a class="dropdown__item" href="
                              {% if child.slug %}{{ item.link_url }}{% endif %}{% if child.url %}{{child.url}}{% else %}{{child.slug}}{% endif %}">
                              {% firstof child.title child.name %}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                    <li class="navbar__item navbar__item--dropdown hide-on--tablet">
                        <a class="navbar__link">Cоц сети</a>
                        <div class="dropdown__menu show hide-on--desktop">
                            <a class="dropdown__item" href="#">Вконтакте</a>
                            <a class="dropdown__item" href="#">Instagram</a>
                            <a class="dropdown__item" href="#">YouTube</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
