<div class="instagram">
    <div class="container">
        <div class="instagram__row">
            <div class="instagram__col">
                <div class="instagram__grid">
                    <div
                        style="background-image: url('/static/instagram/1.png');"
                    ></div>
                    <div
                        style="background-image: url('/static/instagram/2.png');"
                    ></div>
                    <div
                        style="background-image: url('/static/instagram/3.png');"
                    ></div>
                    <div
                        style="background-image: url('/static/instagram/4.png');"
                    ></div>
                </div>
            </div>
            <div class="instagram__col instagram__col--center">
                <div class="instagram__wrapper">
                    <div class="instagram__icon"></div>
                    <div class="instagram__title display display--h3">Открыта для общения</div>
                    <div class="instagram__block instagram__text">
                        Регулярно пишу о наших друзьях, кто уже прошел курсы и мастерклассы, и рассказываю о тонкостях родов
                    </div>
                    <a href="https://www.instagram.com/marina.aist/" target="_blank" rel="noopener" class="button button--secondary button--full-width button--arrow"
                        >перейти в инстаграм</a
                    >
                </div>
            </div>
            <div class="instagram__col">
                <div class="instagram__grid">
                    <div
                        style="background-image: url('/static/instagram/5.png');"
                    ></div>
                    <div
                        style="background-image: url('/static/instagram/6.png');"
                    ></div>
                    <div
                        style="background-image: url('/static/instagram/7.png');"
                    ></div>
                    <div
                        style="background-image: url('/static/instagram/8.png');"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>
