<section class="section section--secondary">
    <div class="container">
        <div class="section__row">
            <div class="section__align-center">
                <div class="display display--h3 section__title">Узнайте о новостях и мероприятиях</div>
                <form class="subscribe-form" data-component="SubscribeForm">
                    {% csrf_token %}
                    <div class="subscribe-form__field" data-handle="view" data-active>
                        <div class="field-group">
                            <label class="input">
                                <span class="input__label">Эл. почта</span>
                                <input
                                    type="email"
                                    name="email"
                                    class="input__field"
                                    placeholder="yourmail@pochta.ru"
                                />
                            </label>
                        </div>
                        <button type="button" class="button button--arrow" data-type="next">далле</button>
                    </div>
                    <div class="subscribe-form__field" data-handle="view">
                        <div class="field-group">
                            <span class="input__label">Неделя беременности</span>
                            <div class="amount">
                                <button type="button" class="button button--pure" data-handle="decrement">
                                    -
                                </button>
                                <input type="text" class="input__field amount__input" name="amount" value="1" readonly data-handle="amount" />
                                <button type="button" class="button button--pure" data-handle="increment">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="field-group">
                            <button type="button" class="button button--arrow" data-handle="submit">отправить</button>
                        </div>
                        <button style="opacity: 0.5;" type="button" data-type="prev">назад</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
