<div class="youtube">
    <div class="container">
        <div class="youtube__row">
            <div class="youtube__text">
                <div class="section__title display display--h3">{{ youtube_block.name }}</div>
                <div class="section__block section__text">
                    {{ youtube_block.text|safe }}
                </div>
                <div class="section__block">
                    <a href="{{ youtube_block.link }}" target="_blank" class="button button--secondary button--arrow button--empty"></a>
                </div>
            </div>
            <div
                class="youtube__image"
            ><img src="/static/youtube.png" alt=""/></div>
        </div>
    </div>
</div>
