@block accordion {
    border-bottom: 2px solid var(--color-secondary);

    @element trigger {
        cursor: pointer;
        margin-bottom: 32px;
    }

    @element header {
        display: flex;
        align-items: center;
    }

    @element subtitle {
        color: rgba(0, 0, 0, 0.75);
        margin-bottom: 13px;
    }

    @element button {
        margin-left: auto;
        padding: 0;
        background: none;
        border: 0;
    }

    @element title {
        font-size: 24px;
        line-height: var(--headings-line-height);
        font-family: var(--headings-font);

        @media (--viweport-desktop) {
            font-size: 32px;
        }
    }

    @element content {
        display: none;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.72);

        &.active {
            display: block;
        }
    }
}
