@block accordion {
    border-bottom: 2px solid var(--color-secondary);

    &:not(:last-child) {
        margin-bottom: 32px;
    }

    @element trigger {
        cursor: pointer;
        margin-bottom: 32px;

        &.active > .accordion__header::after {
            background-image: url(~svgIcons/minus.svg);
        }
    }

    @element header {
        display: flex;
        align-items: center;

        &::after {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: auto;
            padding: 0;
            background: no-repeat url(~svgIcons/plus.svg) center / 100%;
            border: 0;
        }
    }

    @element subtitle {
        color: rgba(0, 0, 0, 0.75);
        margin-bottom: 13px;
    }

    @element title {
        margin: 0;
        flex: 1;
    }

    @element content {
        display: none;
        margin-bottom: 40px;
        color: rgba(0, 0, 0, 0.72);

        &.active {
            display: block;
        }
    }
}
