@block benefits {
    display: flex;
    overflow-x: auto;

    @modifier wrap {
        flex-wrap: wrap;
        overflow: initial;
    }

    @media (--viewport-desktop--wide) {
        overflow: initial;
    }

    @element item {
        flex: 1;
        min-width: 280px;
        
        @media (--viewport-desktop--wide) {
            min-width: 0;
        }
    }

    @element title {
        font-size: 22px;
        line-height: 28px;
        font-family: var(--font-serif);
        margin-bottom: 8px;
        white-space: nowrap;
    }

    @element text {
        line-height: 22px;
        opacity: 0.72;
        max-width: 190px;
    }
}
