@block button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: var(--color-primary);
    padding: 16px;
    font-family: var(--font-serif);
    font-size: var(--font-size-base);
    color: var(--color-secondary);
    cursor: pointer;
    line-height: 1.5;
    text-shadow: none;
    user-select: none;
    text-decoration: none;

    @media (--viewport-desktop) {
        font-size: var(--font-size-large);
    }

    @modifier secondary {
        background: var(--color-secondary);
        color: var(--color-primary);

        &.button--arrow::after {
            background: no-repeat url('~svgIcons/arrow-right-primary.svg') center;
        }
    }

    @modifier full-width {
        display: flex;
        width: 100%;
    }

    @modifier col-6 {
        width: 50%;
    }

    @modifier arrow {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            right: 24px;
            background: no-repeat url('~svgIcons/arrow-right-secondary.svg') center;
        }
    }

    @modifier empty {
        padding: 12px 16px;

        &::after {
            content: '';
            position: static;
        }
    }

    @modifier standart {
        padding-right: 60px;
    }

    @modifier small {
        padding: 12px 5px;
    }

    @modifier pure {
        background: none;
        color: var(--color-primary);
    }

    @modifier opacity {
        opacity: 0.5;
    }

    @modifier instagram {
        max-width: 324px;
        margin: 0 auto;
    }
}
