@block display {
    font-family: var(--font-serif);
    line-height: var(--headings-line-height);
    font-size: 32px;
    color: var(--color-primary);
    margin-bottom: 24px;

    @modifier secondary {
        color: var(--color-secondary);
    }

    @media (--viewport-desktop) {
        font-size: 48px;
        margin-bottom: 40px;
    }
}
