@block hero {
    background: var(--color-primary);
    padding: 56px 0 80px;

    @media (--viewport-desktop--wide) {
        position: relative;
        top: -80px;
        padding-top: 0;
        padding-bottom: 0;
    }

    @element top {
        position: relative;

        @media (--viewport-ipad) {
            overflow: hidden;

            &::after {
                pointer-events: none;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: no-repeat url('~svgIcons/homepage.svg') center 100% / contain;
            }
        }

        @media (--viewport-desktop--wide) {
            height: 100vh;
        }
    }

    @element row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @media (--viewport-ipad) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @media (--viewport-desktop--wide) {
            height: 100%;
        }
    }

    @element circle {
        position: absolute;
        z-index: 3;
        top: 12px;
        right: 12px;

        @media (--viewport-phone) {
            right: 62px;
            top: 72px;
        }
    }

    @element text {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        font-size: 20px;
        align-items: center;

        @media (--viewport-desktop--wide) {
            flex: 1 1;
        }
    }

    @element city {
        font-size: 10pt;

        @media (--viewport-ipad) {
            font-size: 14pt;
        }
    }

    @element subtitle {
        max-width: 432px;
        margin: 0 auto;
        color: rgba(255, 255, 255, 0.72);
    }

    @element title {
        line-height: 1.2;
        font-family: var(--font-serif);
        text-align: center;
        color: var(--color-secondary);
        font-size: 40px;
        max-width: 76%;
        margin: 0 auto 40px;

        @media (--viewport-ipad) {
            margin: auto;
            font-size: 80px;
        }

        @media (--viewport-wide) {
            margin: auto;
            font-size: 96px;
        }
    }

    @element right {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        background: no-repeat center center / cover;

        @media (--viewport-desktop--wide) {
            flex: 1 1;
        }
    }

    @element image-wrapper {
        position: relative;
        background: none;

        @media (--viewport-desktop--wide) {
            height: 100%;
            background: no-repeat center / cover;
        }
    }

    @element image {
        width: 100%;

        @media (--viewport-desktop--wide) {
            display: none;
        }
    }

    @element benefits {
        color: var(--color-white);
        padding-top: 70px;
        padding-bottom: 30px;

        @media (--viewport-wide) {
            padding-top: 100px;
            padding-bottom: 0;
        }
    }
}
