@keyframes shake {
    0% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

@block input {
    @modifier row {
        display: flex;
    }

    @element label {
        display: block;
        font-size: var(--font-size-base);
        color: var(--color-font);
        margin-bottom: 11px;

        @modifier white {
            color: white;
        }
    }

    @element field {
        text-align: left;
        width: 100%;
        background: var(--color-white);
        padding: 14px 16px;
        color: var(--color-font);
        border: 2px solid var(--color-primary);
        line-height: 1.5;

        &.error {
            position: relative;
            animation: shake 0.2s ease;
            border-color: red;
        }
    }
}

@block field-group {
    margin-bottom: 32px;
}

@block amount {
    display: flex;
    justify-content: center;

    @element input {
        max-width: 56px;
        text-align: center;
    }
}
