@block menu {
    @element title {
        font-weight: var(--font-weight-medium);
        font-size: var(----font-size-small);
        margin-bottom: 14px;
    }

    @element list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    @element item {
        font-size: var(--font-size-small);
        padding: 4px 0;
    }
}
