@block rich-list {
    position: relative;

    & li {
        margin-bottom: 15px;

        &::before {
            content: '—';
            color: var(--color-primary);
            position: absolute;
            left: -28px;
        }
    }
}
