@block section {
    position: relative;
    display: block;
    padding: 80px 0;
    overflow: hidden;

    @modifier bg {
        @media (--viewport-desktop) {
            &::after {
                content: '';
                position: absolute;
                top: 110px;
                bottom: 25px;
                left: 30px;
                right: 50%;
                background: no-repeat url('~svgIcons/Group4.svg') center / contain;
                pointer-events: none;
            }
        }
    }

    @modifier subscribe {
        min-height: 490px;
    }

    @modifier bt {
        border-top: 2px solid var(--color-secondary);
    }

    @modifier white {
        background: var(--color-white);
        color: var(--color-font);
    }

    @modifier secondary {
        background-color: var(--color-secondary);
        color: var(--color-font);
    }

    @element inner {
        margin-bottom: 80px;

        @modifier more-space {
            margin-bottom: 120px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @element icon {
        margin-bottom: 24px;
        width: 40px;
        height: 40px;
    }

    @element text {
        color: rgba(var(--color-white), 0.72);
    }

    @element header {
        margin-bottom: 40px;
    }

    @element title {
        margin-bottom: 12px;

        @modifier center {
            text-align: center;
        }

        @media (--viewport-tablet) {
            margin-bottom: 16px;
        }
    }

    @element block {
        &:not(:last-child) {
            margin-bottom: 24px;
        }

        @modifier text {
            max-width: 430px;
        }
    }

    @element row {
        display: flex;
        flex-wrap: wrap;

        @media (--viewport-desktop) {
            margin: 0 -27px;
        }
    }

    @element col {
        flex: 1;

        @media (--viewport-desktop) {
            flex: 0 0 50%;
            padding: 0 27px;
        }

        @modifier large {
            flex: 0 0 70%;
            max-width: 70%;
        }

        @modifier align-right {
            margin-left: auto;

            @media (--viewport-desktop) {
                padding-right: 110px;
            }
        }
    }
}
