@block sidebar {
    width: 100%;
    position: sticky;
    top: 0;

    @media (--viewport-desktop) {
        width: auto;
        margin-bottom: 250px;
    }

    @element list {
        padding: 32px 16px;
        display: flex;
        width: 100%;
        overflow-x: auto;

        @media (--viewport-desktop) {
            padding: 85px 150px 32px 0;
            overflow: initial;
            flex-direction: column;
        }
    }

    @element item {
        white-space: nowrap;
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }

        @media (--viewport-desktop) {
            margin: 0 0 18px;
        }
    }

    @element link {
        text-decoration: none;
        color: var(--color-primary);

        &.active {
            color: var(--color-font);
        }
    }

    @element actions {
        display: none;

        @media (--viewport-desktop) {
            display: block;
        }
    }
}
