@block subscribe-form {
    text-align: center;
    margin: 0 auto;
    max-width: 432px;
    position: relative;

    @element title {
        margin-bottom: 32px;
    }

    @element field {
        &.hidden {
            display: none;
        }
    }

    @element button {
        opacity: 0.5;
        height: 24px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
