@custom-media --viewport-phone (width >= 480px);
@custom-media --viewport-ipad (width >= 640px);
@custom-media --viewport-tablet (width >= 768px);
@custom-media --viewport-desktop (width >= 992px);
@custom-media --viewport-wide (width >= 1200px);

:root {
    --font-sans-serif: 'Arial', sans-serif;
    --font-serif: 'CSTM Xprmntl 02', serif;
    --font-weight-medium: 700;
    --font-weight-bold: 700;
    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-medium: 15px;
    --font-size-large: 18px;

    --headings-font: var(--font-serif);
    --headings-font-weight: 400;
    --headings-line-height: 1.2;
    --text-line-height: 1.3;

    --container-width: 1280px;

    --color-white: #fff;
    --color-black: #000;
    --color-dark-blue: #252e5b;
    --color-font: var(--color-black);
    /* main colors */
    --color-background: var(--color-white);

    --color-primary: var(--color-dark-blue);
    --color-secondary: #f8d2c5;

    --color-link: #252e5b;
}
