@block hide-on {
    @modifier mobile {
        @media (--viewport-phone) {
            display: none;
        }
    }

    @modifier tablet {
        @media (--viewport-tablet) {
            display: none;
        }
    }

    @modifier desktop {
        @media (--viewport-desktop) {
            display: none;
        }
    }
}

@block rte {
    & p {
        margin-bottom: 16px;
    }

    & ul {
        position: relative;

        & li {
            margin-bottom: 15px;

            &::before {
                content: '—';
                position: absolute;
                left: -28px;
            }
        }
    }
}
